<!-- admin can add a new product-->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <!-- Custom styles for this template -->
    <link href="/mycss/admin-new.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <% include partials/admin-navbar %>
    </header>

    <main role="main">
        <div class="container py-5">
            <h2>New Product</h2>
            <form method="POST" encType="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="productname">Product Name</label>
                                <input name="name" type="text" class="form-control" id="productname" placeholder="">
                        </div>
                        <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                                <label for="image">Image</label>
                                <input name="image" type="file" class="form-control-file" id="image">
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <select name="size" multiple class="form-control" id="size">
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                                <option>50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <select name="color" multiple class="form-control" id="color">
                                <option>Red</option>
                                <option>Orange</option>
                                <option>Black</option>
                                <option>White</option>
                                <option>Green</option>
                            </select>
                        </div>
                        <div class="form-group">
                                <label for="price">Price</label>
                                <input name="price" type="number" class="form-control" id="price" placeholder="">
                        </div>
                        <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input name="quantity" type="number" class="form-control" id="quantity" placeholder="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-md">Submit</a>
            </form>
        </div>
    </main>

    
    <footer>
          <% include partials/footer %>
    </footer>
   </body>
</html>