<!-- the user can watch the details of a product-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Webshop</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/mycss/details.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Webshop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checkout">Cart</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">EN</a>
                <a class="dropdown-item" href="#">HU</a>
              </div>
            </li>
          </ul>
          <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form-->
        </div>
      </nav>
    </header>

    <main role="main">
        <form method="POST">
        <div class="container py-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="https://picsum.photos/400/300/?random" class="img-fluid img-thumbnail">
                </div>
                <div class="col-xs-12 col-sm-6">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">product name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Description</th>
                        <td>This is the description of the product</td>
                      </tr>
                      <tr>
                        <th scope="row">Size</th>
                        <td>
                          <select class="custom-select">
                            <option selected>Choose...</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Color</th>
                        <td>
                          <select class="custom-select">
                            <option selected>Choose...</option>
                            <option value="black">black</option>
                            <option value="white">white</option>
                            <option value="orange">orange</option>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Price</th>
                        <td>100$</td>
                      </tr>
                      <tr>
                        <th scope="row">Quantity</th>
                        <td>
                          <input type="number" class="form-control" aria-describedby="" placeholder="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <a class="btn btn-primary" href="/" role="button">Back</a>
                  <button type="submit" class="btn btn-success float-right" role="button">Add to cart</a>
                  <div class="clearfix" />
                </div>
            </div>
        </div>
      </form>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
   </body>
</html>