<!-- set new password for admin-->
<!-- admin can log in-->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <!-- Custom styles for this template -->
    <link href="/mycss/forgetpassword.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="POST">
      <img class="mb-4" src="" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Send me a password reset email</h1>
      <% if(error != undefined && error.type == 'error'){ %>
      <div class="alert alert-danger ">
          <strong>Error!</strong> <%= error.message %>
      </div>
      <% } %>
      <label for="username" class="sr-only">Username</label>
      <input name="username" type="text" id="username" class="form-control" placeholder="Username" required>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <!--button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button-->
      <button type="submit" class="btn btn-primary btn-lg btn-block" role="button">Send email</button>
    </form>

    <footer>
      <% include partials/footer %>
    </footer>
  </body>
</html>