<!-- send a token to the given email -->
<!-- set new password for admin-->
<!-- admin can log in-->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>

    <!-- Custom styles for this template -->
    <link href="/mycss/resettoken.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form id="resettokenForm" class="form-signin" method="POST">
      <img class="mb-4" src="" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Set new password</h1>
      <%- include partials/message error %>
      <label for="password" class="sr-only">Password</label>
      <input name="password" type="password" id="password" class="form-control" placeholder="Password" required autofocus>
      <label for="passwordAgain" class="sr-only">Password again</label>
      <input name="passwordAgain" type="password" id="passwordAgain" class="form-control" placeholder="Password Again" required>

      <!--button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button-->
      <button type="submit" class="btn btn-primary btn-lg btn-block" role="button">Set my new password</button>
    </form>

    <footer>
      <% include partials/footer %>
      <script src="/js/resettoken.js"></script>
    </footer>
  </body>
</html>